.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  max-width: 980px;
  max-height: 260px;
  top: 300px;
  left: 20px;
}
.card:hover {
  cursor: pointer;
  border: solid 1px black;
}

.card img {
  width: 300px;
  height: 211.85px;
  top: 24px;
  left: 660px;
  border-radius: 10px;
}
.card .content {
  align-self: flex-start;
  width: 610px;
  height: 178px;
  top: 41px;
  left: 30px;
  gap: 30px;
}

.card .content .date {
  width: 107px;
  height: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(102, 112, 133, 1);
  margin: 10px 0px;
}

.card .content .title {
  width: 610px;
  height: 68px;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  color: rgba(29, 41, 57, 1);
}

.card .content .description {
  width: 610px;
  height: 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(71, 84, 103, 1);
}
