.landPageContainer {
  background: -webkit-linear-gradient(7.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: transparent;
  max-width: 1480px;
  height: 960px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landPageContainer .content img {
  width: 100px;
  height: 50px;
}

.landPageContainer .img3 {
  width: 460px;
  height: 800.62px;
  top: 129.55px;
  left: 662.61px;
  border-radius: 10px;
}
.landPageContainer .img2 {
  width: 460px;
  height: 800.68px;
  top: 127px;
  left: 971px;
  border-radius: 10px;
}
