* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.nav_container {
  max-width: 1480px;
  height: 84px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 70px 0px rgba(30, 40, 52, 0.08);
}

.nav_container,
.right_elements,
.nav_container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_container {
  padding: 20px;
}

.nav_container .logo {
  margin-left: 50px;
}
.nav_container .logo img {
  width: 160.5px;
  height: 24px;
}

.nav_container .subsBtn {
  list-style: none;
  margin: 0px 50px 0px 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background: rgba(29, 41, 57, 1);
}
.subsBtn:focus {
  border: none;
  outline: none;
}

.nav_container .subsBtn:hover {
  cursor: pointer;
}

.nav_container li {
  list-style: none;
  padding: 15px;
}

.nav_container li a {
  color: black;
}

.nav_container li a:hover {
  background: -webkit-linear-gradient(7.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add_blog {
  font-weight: bolder;
  background: -webkit-linear-gradient(7.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.add_blog:hover {
  cursor: pointer;
}

#subsLink {
  color: black;
}
