.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  max-width: 980px;
  max-height: 290px;
  top: 300px;
  left: 20px;
}
.card:hover {
  border: solid 1px black;
}

.card .cardLink {
  color: blue;
  padding: 2px;
  font-size: small;
}
.card .cardLink:hover {
  cursor: pointer;
  padding: 2px;
  background: -webkit-linear-gradient(7.1deg, #c41740 4.8%, #ea9c28 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card img {
  width: 300px;
  height: 211.85px;
  top: 24px;
  left: 660px;
  border-radius: 10px;
}
.card .content {
  align-self: flex-start;
  width: 610px;
  height: 178px;
  top: 41px;
  left: 30px;
}

.card .content .date {
  width: 140px;
  height: 36px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(102, 112, 133, 1);
  overflow: auto;
}

.card .content .title {
  width: 610px;
  height: 60px;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  color: rgba(29, 41, 57, 1);
  margin-bottom: 10px;
}

.card .content .description {
  width: 610px;
  height: 80px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(71, 84, 103, 1);
}

.card .content .description #icon {
  font-size: x-large;

  padding: 10px 5px 0px 15px;
}

.card .content .description #icon:hover {
  cursor: pointer;
}

#icon_bookmark {
  font-size: x-large;
  padding: 10px 5px 0px 5px;
}
#icon_bookmark:hover {
  cursor: pointer;
}
